<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>JOA</title>
</head>
<body>


		<!-- /header -->
		
	
	<div class="nav_depth" id="nav_menu">

		<div id="nav-content">
			<a href="/Map" class="Map_link"> 
			<span class="Map_name" data-hover>Map</span>
			</a>
		</div>

		<div id="nav-content">
			<a href="/Best" class="Best_link"> 
			<span class="Best_name" data-hover>Best</span>
			</a>
		</div>

		<div id="nav-content">
			<a href="/Noticeboard" class="Noticeboard_link"> 
			<span class="Noticeboard_name" data-hover>Notice board</span>
			</a>
		</div>
		
		
	
		
		</div>
		
		<!-- /nav -->

</body>
</html>