<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  href="/javaStudy/workspace_web/JOA/assets/css/joa.css">

</head>
<body>

	<div id="wrap">
		<!-- /header -->

		<h3>☆ 좋아요 Best</h3>

		<div style='margin: 0 auto; width: 200px; float: left; text-align: center; border: 0;'>
			<input type='button' class='btn-prev' name='btn-prev' value='<'>
		</div>

		<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
		<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">
		<img src="C:\javaStudy\workspace_web\JOA\webapp\assets\images\sakura1.jpg">

		<div style='margin: 0 auto; width: 200px; height: 500px; float: right; text-align: center;'>
			<input type='button' class='btn-next' name='btn-next' value='>'>
		</div>
		<!-- /context -->


		<!-- /footer -->
	</div>
</body>
</html>