@charset "UTF-8";
/****************************************************************/
/* 초기화 공통 ***************************************************/
/****************************************************************/

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

/* 리스트 초기화 */
ul, ol	{list-style-type: none; }

/* 링크 초기화 */
a:link {text-decoration: none; color: #000000; }
a:visited {text-decoration: none; color: #000000; }
a:active {text-decoration: none; color: #000000; }
a:hover {text-decoration: none; color: #000000; }

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

.bold {font-weight: bold;}

body	{font:15px "맑은 고딕", 돋움, 굴림; text-align:center; }


